{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block body %}
    <h1>Create new Order</h1>

    {{ include('order_controlleur/_form.html.twig') }}

    <a href="{{ path('app_order_controlleur_index') }}">back to list</a>
{% endblock %}
